.forms-app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.forms-page-container {
  width: 90%;
  margin: 5% auto;
  padding: 1.5% 1%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color:yellow;
}

.form-container {
  width: 33%;
  padding: 1%;
  margin: 0.1% 0;
  background-color: goldenrod;
  border: 3px solid gold;
}

.form-container:hover {
  border: 3px solid black;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  transform: translateY(-1px);
}

.default {
  background-color: rgb(30, 30, 30);
}

.default .form-container {
  background-color: black;
  border: 3px solid brown;
}

.default form {
  background-color: darkred;
}

form {
  height: 500px;
  padding: 1%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: gold;
}

.form-body {
  display: flex;
  flex-direction: column;
}

.display-form {
  padding: 5% 15%;
  margin: 0 auto;
  background: url("https://pluspng.com/img-png/burnt-paper-png-burnt-paper-327.png");
  background-size: cover;
  color: black;
}

.display-form:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

.radio-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.radio-container label {
  width: 40%;
  background-color: black;
  margin: 1%;
  padding: 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.forms-nav {
  width: 100%;
}

.forms-nav .active {
  border-radius: 30%;
  padding: 1% 14%;
  text-decoration: none;
}

.forms-img {
  width: 800px;
  height: 200px;
}
