* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  text-align: center;
  transition: all 0.2s ease-in;
}

h2 {
  margin-bottom: 0.5em;
}

p {
  margin-bottom: 0.5em;
}

input {
  /* width: 50%; */
  height: 3vh;
  margin: 1em 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-evenly;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 10% 0;
}

.App-header section {
  width: 40%;
  height: 80vh;
  margin-top: 1em;
  padding: 1em 0;
  border: 1px solid black;
  background-color: cadetblue;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-link {
  color: #61dafb;
}

button {
  margin: 0.2rem;
  padding: 5px;
  font-family: fantasy;
  border: 2px solid #be9c38;
  border-radius: 2px;
}

button:hover {
  background: #be9c38;
  color: white;
  transform: translateY(-1px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.blue-button:hover {
  background: blue;
  color: lightblue;
}

.red-button:hover {
  background: red;
  color: lightsalmon;
}

.green-button:hover {
  background: green;
  color: lightgreen;
}


.patrick-star {
  width: 25%;
  margin: 2em 0;
  animation: rotate 10s linear forwards infinite;
}

.input-value-note {
  width: 90%;
  background-color: green;
  padding: 0.7em;
}

.user-lists {
  width: 90%;
  display: flex;
  justify-content: space-between; 
  background: green;
}

.user-lists ul {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 3em;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  to {
    transform: rotate(360deg)
  }
}